In [3]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [18]:
# Read CSV created in notebook "corridors_census_2016.ipynb" and saved in "Resources" folder
# Save the data from the csv in a variable, "data_2016"
data_2016 = "./CSVs/CommCorr_Census_Stats_2016.csv"

In [19]:
# Create a dataframe ("df_2016") by reading the variable data from "data_2016"
df_2016 = pd.read_csv(data_2016)
df_2016.head()

,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",Unemployment count,...,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years,Labor force status by presence of computer/ internet in HH,county
0,10100,24510010100,3022.0,109808.0,63832.0,124.0,4.1,0.3,2163.0,10.0,...,58.0,135.0,1751.0,907.0,491.0,243.0,2373.0,406.0,2621.0,510
1,10200,24510010200,2869.0,107617.0,56058.0,169.0,5.9,1.0,2100.0,30.0,...,69.0,107.0,2332.0,1103.0,290.0,340.0,2300.0,229.0,2537.0,510
2,10300,24510010300,2571.0,138686.0,68345.0,110.0,4.3,0.9,2027.0,22.0,...,99.0,165.0,1492.0,704.0,375.0,252.0,2198.0,121.0,2324.0,510
3,10400,24510010400,2478.0,114453.0,93670.0,143.0,5.8,3.3,1790.0,81.0,...,101.0,160.0,1452.0,792.0,596.0,221.0,1981.0,276.0,2246.0,510
4,10500,24510010500,1976.0,99167.0,54193.0,173.0,8.8,0.4,1310.0,7.0,...,294.0,31.0,1192.0,507.0,281.0,303.0,1535.0,138.0,1646.0,510

In [20]:
data_2017 = "./CSVs/CommCorr_Census_Stats_2017.csv"
df_2017 = pd.read_csv(data_2017)
df_2017.head()

,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",Unemployment count,...,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years,Labor force status by presence of computer/ internet in HH,county
0,10100,24510010100,3201.0,95625.0,57582.0,372.0,11.6,1.8,2175.0,59.0,...,58.0,120.0,1701.0,911.0,555.0,199.0,2523.0,479.0,2840.0,510
1,10200,24510010200,3145.0,109102.0,52527.0,185.0,5.9,1.1,2327.0,34.0,...,66.0,138.0,2514.0,1133.0,304.0,367.0,2562.0,216.0,2785.0,510
2,10300,24510010300,2552.0,137275.0,67376.0,103.0,4.0,0.6,1909.0,15.0,...,97.0,104.0,1641.0,733.0,350.0,340.0,2083.0,129.0,2218.0,510
3,10400,24510010400,2573.0,112059.0,83899.0,122.0,4.7,2.8,2019.0,71.0,...,102.0,141.0,1461.0,787.0,617.0,158.0,2146.0,269.0,2403.0,510
4,10500,24510010500,1712.0,92000.0,55437.0,149.0,8.7,0.9,1210.0,15.0,...,105.0,40.0,1076.0,485.0,273.0,209.0,1367.0,136.0,1477.0,510

In [22]:
data_2018 = "./CSVs/CommCorr_Census_Stats_2018.csv"
df_2018 = pd.read_csv(data_2018)
df_2018.head()

,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",Unemployment count,...,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years,Labor force status by presence of computer/ internet in HH,county
0,10100,24510010100,3022.0,109808.0,63832.0,124.0,4.1,0.3,2163.0,10.0,...,58.0,135.0,1751.0,907.0,491.0,243.0,2373.0,406.0,2621.0,510
1,10200,24510010200,2869.0,107617.0,56058.0,169.0,5.9,1.0,2100.0,30.0,...,69.0,107.0,2332.0,1103.0,290.0,340.0,2300.0,229.0,2537.0,510
2,10300,24510010300,2571.0,138686.0,68345.0,110.0,4.3,0.9,2027.0,22.0,...,99.0,165.0,1492.0,704.0,375.0,252.0,2198.0,121.0,2324.0,510
3,10400,24510010400,2478.0,114453.0,93670.0,143.0,5.8,3.3,1790.0,81.0,...,101.0,160.0,1452.0,792.0,596.0,221.0,1981.0,276.0,2246.0,510
4,10500,24510010500,1976.0,99167.0,54193.0,173.0,8.8,0.4,1310.0,7.0,...,294.0,31.0,1192.0,507.0,281.0,303.0,1535.0,138.0,1646.0,510

In [23]:
data_2019 = "./CSVs/CommCorr_Census_Stats_2019.csv"
df_2019 = pd.read_csv(data_2019)
df_2019.head()

,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",Unemployment count,...,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years,Labor force status by presence of computer/ internet in HH,county
0,10100,24510010100,3035.0,125417.0,67496.0,116.0,3.8,0.9,2130.0,26.0,...,67.0,135.0,1980.0,996.0,393.0,259.0,2368.0,408.0,2614.0,510
1,10200,24510010200,2858.0,106250.0,57925.0,133.0,4.7,1.3,2086.0,38.0,...,92.0,126.0,2331.0,1118.0,293.0,324.0,2308.0,226.0,2542.0,510
2,10300,24510010300,2380.0,142368.0,73265.0,112.0,4.7,0.4,1867.0,9.0,...,111.0,154.0,1412.0,672.0,336.0,205.0,2023.0,152.0,2170.0,510
3,10400,24510010400,2834.0,122765.0,99038.0,106.0,3.7,3.0,2059.0,85.0,...,186.0,190.0,1517.0,824.0,649.0,260.0,2279.0,295.0,2556.0,510
4,10500,24510010500,1888.0,128227.0,57829.0,136.0,7.2,0.0,1247.0,0.0,...,331.0,31.0,1094.0,465.0,281.0,319.0,1413.0,156.0,1547.0,510

In [24]:
data_2020 = "./CSVs/CommCorr_Census_Stats_2020.csv"
df_2020 = pd.read_csv(data_2020)
df_2020.head()

,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",Unemployment count,...,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years,Labor force status by presence of computer/ internet in HH,county
0,10100,24510010100,3022.0,109808.0,63832.0,124.0,4.1,0.3,2163.0,10.0,...,58.0,135.0,1751.0,907.0,491.0,243.0,2373.0,406.0,2621.0,510
1,10200,24510010200,2869.0,107617.0,56058.0,169.0,5.9,1.0,2100.0,30.0,...,69.0,107.0,2332.0,1103.0,290.0,340.0,2300.0,229.0,2537.0,510
2,10300,24510010300,2571.0,138686.0,68345.0,110.0,4.3,0.9,2027.0,22.0,...,99.0,165.0,1492.0,704.0,375.0,252.0,2198.0,121.0,2324.0,510
3,10400,24510010400,2478.0,114453.0,93670.0,143.0,5.8,3.3,1790.0,81.0,...,101.0,160.0,1452.0,792.0,596.0,221.0,1981.0,276.0,2246.0,510
4,10500,24510010500,1976.0,99167.0,54193.0,173.0,8.8,0.4,1310.0,7.0,...,294.0,31.0,1192.0,507.0,281.0,303.0,1535.0,138.0,1646.0,510